/*2019年  首页样式*/
.ct_container{
    width: 100%;
    height: 100%;
    /*background-color: #F2F3EE;*/
    font-size: .5rem;
    padding-bottom: 4rem;
    position: relative;
}
/*轮播*/
.idxSwiper a {
    display: block;
    width: 100%;
}
.idxSwiper a img{
    width: 100%;
    height: 11rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 19px;
    left: 0;
    width: 100%;
}
/*菜单*/
.ct_menuO, .ct_menuT{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1%;
}
.menu img{
    width: 2rem;
    height: 2rem;
}
.partyBuilding, .video, .threeSessions, .onlineExamination, .grassrootsDynamics, .partyPayment, .partyCircle, .eraPioneer, .branchActivities, .organizationalRelationship{
    flex: 1;
    text-align: center;

}
.partyBuilding p, .video p, .threeSessions p, .onlineExamination p, .grassrootsDynamics p, .partyPayment p, .partyCircle p, .eraPioneer p, .branchActivities p, .organizationalRelationship p{
    font-size: .8rem;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}
.black{
    border-bottom: solid  1px  #e3e2e1;
    border-top: solid  1px  #e3e2e1;
    background-color: #f2f1ef;
    height: .8rem;
    margin: 0;
}
/*消息通知*/
.messageNotification{
    padding: 5% 2%;
}
.messageNotification_content{
    width: 94%;
    height: 2rem;
    border: solid 1px #e3e2e1;
    padding: 1%;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
}
.messageNotification_content span{
    position: relative;
    float: left;
    padding-left: 1rem;
    padding-right: .2rem;
}
.messageNotification_content span i{
    position: absolute;
    width: 1.2rem;
    height: 1.1rem;
    border-radius: 50%;
    border: solid  1px #e3e2e1;
    background-color: #d52e2b;
    color: #fff;
    font-size: .3rem;
    line-height: .9rem;
    top: -.3rem;
    left: 1.7rem;
}
.messageNotification_content span img{
    width: 1.3rem;
    height: 1rem;
    margin-top: 0.2rem;
}
.messageNotification_content p{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0;
    padding-right: 1rem;
}
/*党建要闻*/
.partyNew, .currentNew{
    padding: 1%;
}
.partyNew_tit h3, .currentNew_tit h3{
    color:#666;
    position: relative;
    padding-left: 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2.5rem;
    float: left;
    margin: 0;
}
.partyNew_tit h3 i, .currentNew_tit h3 i {
    background: #d82c23;
    position: absolute;
    left: .9rem;
    top: .7rem;
    width: .2rem;
    height: 1.1rem;
    margin-right: 1rem;
}
.partyNew_tit span, .currentNew_tit span{
    display: inline-block;
    line-height: 2.4rem;
    float: right;
    margin-right: 1.3rem;
    font-size: .7rem;
    color: #666;
}
.partyNew_content, .partyNew_contentVideo, .currentNew_content, .currentNew_contentVideo{
    width: 100%;
    padding: 3% 2%;
    display: flex;
    border-top: solid 1px #e3e2e1;

}
.partyNew_content .partyNewLeft, .partyNew_contentVideo .partyNewLeft, .currentNew_content .currentNewLeft, .currentNew_contentVideo .currentNewLeft{
   flex: 2;
}
.partyNewLeft p, .currentNewLeft p{
    color: #333;
    line-height: 1.5rem;
    font-size: 0.875rem;
    margin: 0;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.partyNewLeft h3 .date, .currentNewLeft h3 .date{
    display: inline-block;
    font-size: .7rem;
    color: #888;
}
.partyNewLeft h3 .browseTimes, .currentNewLeft h3 .browseTimes{
    display: inline-block;
    /*padding-right: 1rem;*/
    padding-left: 2.5rem;
    font-size: .7rem;
    color: #888;
}
.partyNewLeft h3 .browseTimes img, .currentNewLeft h3 .browseTimes img{
    width: 1.2rem;
    height: 0.675rem;
}
.partyNew_content .partyNewRight, .partyNew_contentVideo .partyNewRight, .currentNew_content .currentNewRight, .currentNew_contentVideo .currentNewRight{
    flex: 1;
    text-align: center;
    margin: auto;
}
.partyNewRight  img, .currentNewRight img{
    width: 6rem;
    height: 4rem;
}
.partyNew_contentVideo .partyNewRight, .currentNew_contentVideo .currentNewRight{
    position: relative;
}
.partyNew_contentVideo .partyNewRight span, .currentNew_contentVideo .currentNewRight span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.partyNew_contentVideo .partyNewRight span img, .currentNew_contentVideo .currentNewRight span img{
    width: 2rem;
    height: 2rem;
}
/*2019年  学习部分样式*/
.st_container{
   width: 100%;
   height: auto;
   margin-bottom: .8rem;
}
.lineOne{

    border-top: solid 1px #e3e2e1;
}
.lineOne, .lineTwo, .lineThree, .lineFour{
    width: 100%;
}
.lineOne .studyPlan, .lineOne .thematicLearning, .lineTwo .threeSession, .lineTwo .regularLearning, .lineThree .videoLectureHall, .lineThree  .onlineExaminations, .lineFour .studyRanking,   .lineFour .studySum{
    padding: 3% 1%;
    /*flex:1;*/
    width: 50%;
    float: left;
    margin: auto;
    border-right: solid 1px #e3e2e1;
    border-bottom: solid 1px #e3e2e1;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.studyPlan img,.thematicLearning img,.threeSession img,.regularLearning img,.videoLectureHall img,.onlineExaminations img,.studyRanking img,.studySum img{
    width: 2.5rem;
    height: 2.5rem;
}
.studyPlan h3,.thematicLearning h3,.threeSession h3,.regularLearning h3,.videoLectureHall h3,.onlineExaminations h3,.studyRanking h3,.studySum h3{
    font-size: .9rem;
    line-height: 1.5rem;
}
.studyPlan p,.thematicLearning p,.threeSession p,.regularLearning p,.videoLectureHall P,.onlineExaminations P,.studyRanking P,.studySum P{
    font-size: .8rem;
    color: #888;
}
.branchLearning,.partyMemberLearning{
    position: relative;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-70%);
}
.branchLearning{
    display: none;
}
.partyMemberLearning{
    display: none;
}
.branchLearning img,.partyMemberLearning img{
    width: 1.7rem;
    height: 6.8rem;
}
.branchLearningInfo,.partyMemberLearningInfo{
    position: absolute;
    right: -.3rem;
    top: 50%;
    transform: translate(0,-54%);
    width: 1.5rem;
    writing-mode:horizontal-tb;
    color: #fff;
}

/*2019年  我的界面样式*/
.myTitile {
    background-color: #f3f3f3;
    height: 7.5rem;
}
.myTitile{
    padding: 8% 3%;

}
.myTitileLeft{
    width: 30%;
    float: left;
}
.myTitileLeft img{
   width: 5rem;
}
.myTitileRight{
    width: 70%;
    float: right;
}
.myTitileRight .myTitileRightInfo{
    float: left;

}
.myTitileRightInfo .myName{
    font-size: 1.2rem;
}
.myTitileRightInfo .myAddress{
    font-size: .8rem;
    line-height: 1.5rem;
    margin: 0;
    color: #333;
}
.myTitileRight .myModify{
    float: right;
    margin-right: 2rem;
    width: 3.6rem;
    height: 1.8rem;
    background-color: #d52e2b;
    color: #fff;
    border-radius: .9rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: .8rem;
    margin-top: .6rem;

}
.myBottomContent .partyMembers img, .myBottomContent .branchMembers img{
    width: .8rem;
    height: .675rem;
}
.branchMembers{
    padding-left: .8rem;
}
.rankOfMembers{
    font-size: .7rem;
    color: #888;
}
.rankOfMembers i{
    font-size: 1rem;
}
.listCell{
    border-top: solid 1px #e3e2e1;
    padding: 3%;
}
.listCell{
    color: #888;
    width: 100%;
    line-height: 2rem;
}
.listCell img{
    width: 2rem;
    float: left;
}
.listCell  p{
    display: inline-block;
    font-size: .9rem;
    color: #888;
    padding-left: 1rem;
    margin: 0;
    float: left;
}
.listCell i{
    float: right;
    padding-top: .4rem;
}
.listCell i img{
    width: 0.675rem;
    height: 1.2rem;
}
/*2019年  学习心得样式*/
.learningConter{
    width: 100%;
    padding: 2rem 3%  2rem;
    background-color: #F2F1EF;
}
.learningConter .tit{
    border: solid 1px #fff;
    border-radius: 1rem;
    margin: 0;
    font-size: .9rem;
    padding-left: 1rem;
    height: 2.2rem;
    color: #c5c5c5;
}
.learningConter textarea{
    margin-top: 2rem;
    border: solid 1px #fff;
    margin-bottom: 0;
    border-radius: 1rem;
    height: 7rem;
    font-size: .9rem;
    color: #c5c5c5;
}
.immediate{
    position: relative;
}
.learningConter .immediateRelease{
    width: 100%;
    border: solid 1px #fff;
    border-radius: 1.3rem;
    margin: 0;
    font-size: .9rem;
    margin-top: 2rem;
    background-color: #d52e2b;
    color: #fff;
    height: 2.2rem;
    text-align: right;
    padding-right: 2rem;
}
.immediate span{
    display: inline-block;
    position: absolute;
    top: 2rem;
    left: 0rem;
    z-index: 9999;
}
.immediate span img{
    width: 4.5rem;
    height: 2.2rem;
}
/*2019年  党组织架构*/
.structure_tit h3{
    color: #666;
    position: relative;
    padding-left: 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2.5rem;
    float: left;
    margin: 0;
}
.structure_tit h3 i {
    background: #d82c23;
    position: absolute;
    left: .9rem;
    top: .675rem;
    width: .2rem;
    height: 1.1rem;
    margin-right: 1rem;
}
/*党组织架构*/
.tree li {
    list-style-type: none;
    margin: 0;
    padding: 7px 5px 0 29px;
    position: relative;
}
.tree>ul>li::before, .tree>ul>li::after {
    border: 0;
}
.tree li::before {
    border-left: 1px solid #d52e2b;
    bottom: 50px;
    height: 100%;
    top: -8px;
    width: 1px;
}
.tree li::before, .tree li::after {
    content: '';
    left: 4px;
    position: absolute;
    right: auto;
}
.tree li::after {
    border-top:1px solid #d52e2b;
    height:20px;
    top:18px;
    width:33px;
}
.tree .parent, .tree .child, .tree .grandChild,.tree .greatGrandChild {
    display: inline-block;
    cursor: pointer;
}
.tree .parent i{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #d52e2b;
}
.tree .parent .title{
    display: inline-block;
    font-family: '微软雅黑';
    font-size: 1rem;
    padding-left: .5rem;
}
.tree .child i{
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-color: #d52e2b;
    border-radius: 50%;
}
.tree .child .title{
    display: inline-block;
    font-family: '微软雅黑';
    font-size: .9rem;
    padding-left: .5rem;
}
.tree .grandChild i{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background-color: #d52e2b;
    border-radius: 50%;
}
.tree .grandChild .title{
    display: inline-block;
    font-family: '微软雅黑';
    font-size: .8rem;
    padding-left: 1rem;
}
.tree .title.active{
    background-color: #ffc000;
}
.tree .greatGrandChild{
    font-size: .7rem;
}
.tree .greatGrandChild .name{
    display: inline-block;
    padding-left: 1rem;
    padding-right: .3rem;
}
.tree .greatGrandChild .sex{
    display: inline-block;
    padding-right: .3rem;
}
.tree .greatGrandChild .phoneIcon{
    display: inline-block;
    padding-left: .3rem;
}
.tree .greatGrandChild .phoneIcon img{
    width: .8rem;
    height: .8rem;
}
/*2019年 党员圈的样式*/
.mui-content{
    background-color: #fff;
}
.mui-pull-top-pocket{
    border: 0;
}
.swiper-slide{
    line-height: 2.5rem;
    text-align: center;
}
.circle_container a{
    color:#333;
    font-size: .9rem;
}
.circle_container a.active{
    font-weight: bold;
}
.circleIcon{
    width: 100%;
    background-color: #F2F2F2;
    height: 6.3rem;
    padding: 3% 0;

}
.circleIcon .circle{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0 auto;
}
.circle img{
    width: 3.5rem;
    height: 3.5rem;
}
.circle p{
    margin: 0;
    font-size: .7rem;
    font-family: '微软雅黑';
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.circleInfo{
    background-color: #fff;
}
.circleInfo .circle_title{
   width: 100%;
   padding: 6% 5%;
   height: 4.5rem;
   border-bottom: solid 1px #e3e2e1;
}
.circleInfo .circle_title img{
    width: 2.3rem;
    height: 2.3rem;
    float: left;
}
.circleInfo .circle_title .info{
    width: 50%;
    float: left;
    margin-left: 1rem;
}
.circleInfo .circle_title .info .circle_name{
    display: block;
    font-size: .8rem;
    color: #333;
    font-weight: bold;
}
.circleInfo .circle_title .info .circle_data{
    display: block;
    color: #888;
    font-size: .7rem;
}
.circle_bottom{
    width: 25%;
    float: right;
}
.circleInfo .circle_bottom img{
    width: .5rem;
    height: .5rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: .2rem;
}
.circleInfo .circle_bottom .upDate{
    display: block;
    font-size: .7rem;
    padding-top: 1.3rem;
    color: #888;
}
.circle_content .circle_info{
    padding: 3%;
}
.circle_content .circle_info .one{
    margin-bottom: 0;
    font-size: .9rem;
    color: #333;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}
.circle_content .circle_info .two{
    color: #315E84;
}
.circle_info .picture{
    margin: auto;
    padding: 0 2%;
}
.circle_info .picture img{
    width: 30%;
    margin: 1%;
}
.circle_container{
    position: relative;
}
.circle_container .button{
    position: absolute;
    top: 16%;
    right: .1rem;
    transform: translate(0,-50%);
}

.circle_container .button img{
    width: 3rem;
    height: 3rem;
}
/*2019年 点赞 评论按钮*/
.circle_button{
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.ellipsis{
    float: right;
    margin-right: 1.5rem;
    line-height: 1.5rem;
}
.circle_button img{
    width: 2rem;
}
.circle_button .starShow{
    float: right;
    width: 10rem;
    background-color: #666666;
    border-radius: .5rem;
    margin-right: .8rem;
    display: none;

}
.circle_button .starShow .starInfo{
    float: left;
    text-align: center;
    margin: auto;
    padding: 1% 15px;
}
.circle_button .starShow .commentInfo{
    text-align: center;
    margin: auto;
    padding: 1% 15px;
}
.circle_button .starShow .starInfo img,.circle_button .starShow .commentInfo img{
    width: 16px;
    height: 15px;
}

.circle_button .starShow .starInfo .star,.circle_button .starShow .commentInfo .comment{
    padding-left: .3rem;
    display: inline-block;
    color: #fff;
    font-size: .8rem;
}
