.newsCon .newsTit{
    position: fixed;
    background-color: #fff;
    z-index: 100;
    top:0;
    left:0;
}
.newsTit .swiper-slide{
    height:44px;
    line-height: 44px;
    text-align: center;
}
 .newsTit a{
    padding:0.2rem;
    color:#333;
}
.newsTit a.active{
    /*background-color:#d52e2b;*/
    /*color:#fff;*/
    border-bottom:2px solid #ffc000;
}
.swiperImg{
    margin-top:45px
}
.swiperImg .swiper-slide{
    height:200px;
    overflow: hidden;
}
.swiperImg img{
    width:100%;
}
.swiperNormalStudyImg .swiper-slide{
    height:200px;
    overflow: hidden;
}
.swiperNormalStudyImg img{
    width:100%;
}
/*新闻详情页*/
.newsDetailCon{
    width:100%;
    height:100%;
    background-color: #f2f1ef;
    padding:0.7rem;
}
.newsDetailCon .newsTit{
    font-size: 1.2rem;
    font-weight: bold;
    color:#333;
    line-height:34px;
}
.newsDetailCon .tit{
    position: relative;
    overflow: hidden;
    margin-top:10px;
}
.newsDetailCon .tit .addCollect{
    float: right;
}
.newsDetailCon .tit>p{
    float: left;
    font-size: 14px;
    color:#8f8f94 ;
}
.newsDetailCon .tit .addCollect img{
    width:1rem;
}
.newsDetailCon .newsCon img{
    width:100%;
}
.newsCon video{
    width:100%;
}
/*.newsCon video::-webkit-media-controls-fullscreen-button{*/
    /*display: none;*/
/*}*/
/*学习详情页*/
.studyCon{
    width:100%;
    height:100%;
    background-color: #f2f1ef;
    padding:0.7rem;
}
.studyCon .studyTit{
    font-size: 1.2rem;
    font-weight: bold;
    color:#333;
    line-height:34px;
    text-align: center;
}
.studyCon .tit{
    position: relative;
    overflow: hidden;
    margin-top:10px;
}
.studyCon .tit .addCollect{
    float: right;
}
.studyCon .tit>p{
    float: left;
    font-size: 14px;
    color:#8f8f94 ;
}
.studyCon .tit .addCollect img{
    width:1rem;
}
.studyCon .newsCon{
    margin-top:20px;
}
.studyCon .newsCon img{
    width:100%;
}
.studyCon .newsCon video{
    width:100%;
}
.newsCon .public{
    position: fixed;
    width:3rem;
    height:3rem;
    bottom:5rem;
    right:1rem;

}
.newsCon .public img{
    width:100%;
}
