/*2019年 党员圈的样式*/
/*.mui-content{*/
/*background-color: #fff;*/
/*}*/
/*头部样式*/
.top{
    margin-bottom: 18px;
}
.namePicture{
    position: relative;
}
.personP{
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 70px;
    height: 70px;
    transform: translate(0,28%);
}
.cameraP{
    position: absolute;
    bottom: 50%;
    right: 30%;
    width: 35px;
    height: 30px;
    transform: translate(30%,-12%);
}
.mui-table-view:before,.mui-table-view:after{
    background-color: #fff;
}
.mui-table-view-chevron .mui-table-view-cell {
    padding-right: 0;
    padding-bottom:3%;
}
.mui-table-view-cell{
    padding: 0;
}
.mui-pull-top-pocket{
    border: 0;
}
.swiper-slide{
    line-height: 2.5rem;
    text-align: center;
}
.circle_container a{
    color:#333;
    font-size: .9rem;
}
.circle_container a.active{
    font-weight: bold;
}
.mui-content{
    margin-top: 20px;
}
.circleIcon{
    width: 100%;
    background-color: #F3F3F3;
    height: 6.3rem;
    padding: 3% 0;

}
.circleIcon .circle{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0 auto;
}
.circle img{
    width: 3.5rem;
    height: 3.5rem;
}
.circle p{
    margin: 0;
    font-size: .7rem;
    font-family: '微软雅黑';
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.circleInfo{
    background-color: #fff;
    border-bottom: solid 1px #F2F2F2;
}
.main{
    border-bottom: solid 1px #e3e2e1;
}
.circle_title{
    width: 100%;
    padding: 6% 5%;
    height: 3.5rem;
    /*border-bottom: solid 1px #e3e2e1;*/
}
.circle_title img{
    width: 3rem;
    height: 3rem;
    float: left;
}
.circle_title .info{
    width: 50%;
    float: left;
    margin-left: 1rem;
}
.circle_title .info .circle_name{
    display: block;
    font-size: .8rem;
    color: #333;
    font-weight: bold;
}
.circle_title .info .circle_data{
    display: block;
    color: #888;
    font-size: .7rem;
}
.circle_bottom{
    width: 25%;
    float: right;
    margin-right: -1.1rem;
}
.circle_bottom img{
    width: .5rem;
    height: .5rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: .2rem;
}
.circle_bottom .upDate{
    display: block;
    font-size: .7rem;
    padding-top: 1.3rem;
    color: #888;
    text-align: center;
}
.circle_content .circle_info{
    padding: 5%;
}
.circle_content .circle_info .one{
    margin-bottom: 0;
    font-size: .9rem;
    color: #333;
    line-height: 1.5rem;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 2*/
}
.circle_content .circle_info .look{
    color: #3273b5;
    margin: 0;
    /*display: none;*/
}
.circle_content .circle_info .lookAll{
    display: none;
}
.circle_content .circle_info .hideAll{
    display: none;
}
.circle_content .circle_info .hiddenAll{
    display: none;
    margin-bottom: 0;
    font-size: .9rem;
    color: #333;
    line-height: 1.5rem;
}
.circle_info .picture{
    margin: auto;
    padding: 0 2%;
}
.circle_info .picture img{
    width: 30%;
    margin: 1%;
}
.circle_container{
    position: relative;
}
.circle_container .button{
    position: absolute;
    top: 50%;
    right: .1rem;
    transform: translate(0,-50%);
}

.circle_container .button img{
    width: 3rem;
    height: 3rem;
}
/*2019年 点赞 评论按钮*/
.circle_button{
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .1rem;
}
.ellipsis{
    float: right;
    margin-right: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
}
.circle_button img{
    width: 1.2rem;
    cursor: pointer;
}
.comment-item{
    font-size: .825rem;
}
.footer{
    height: auto;
    margin-top: -1rem;
}
.circle_button .starShow{
    float: right;
    width: 9rem;
    background-color: #666666;
    border-radius: .5rem;
    margin-right: .8rem;
    display: none;
    margin-top: -.49rem;
    padding-left:15px;
}
.circle_button .starShow .starInfo,.circle_button .starShow .cancelInfo{
    width: 50%;
    float: left;
    text-align: center;
    margin: auto;
    display: none;
}
/*.circle_button .starShow .starInfo,.circle_button .starShow .cancelInfo{*/
    /*display: none;*/
/*}*/
.circle_button .starShow .commentInfo{
    width: 50%;
    float: right;
    text-align: center;
    margin: auto;
}
.circle_button .starShow .starInfo img,.circle_button .starShow .cancelInfo img,.circle_button .starShow .commentInfo img{
    width: 12px;
    height: 16px;
    padding: 5px 0  0;
    box-sizing: border-box;
}
.circle_button .starShow .starInfo .star,.circle_button .starShow .cancelInfo .cancel,.circle_button .starShow .commentInfo .comment{
    padding-left: .3rem;
    display: inline-block;
    color: #fff;
    height: 1.6rem;
    line-height: 1rem;
    font-size: .875rem;
}
.del{
    font-size: .825rem;
    color: #0088f9;
    float: left;
    padding-left: 1.5rem;
    cursor: pointer;

}
.circle_button .upDate{
    float: left;
    font-size: .825rem;
    padding-left: 1.2rem;
}
/*2019年 点赞和评论列表*/
.reply-zone{
    background: rgb(240, 240, 240);
    width: 90%;
    margin:0 5%;
}
.reply-like {
    line-height: 25px;
    padding-left: 8px;
    color: #637ab4;
    display: none;
}
.reply-like img{
    width: 13px;
    height: 11px;
    margin-right: .5rem;
}
.reply-zone .reply-who {
    color: #637ab4;
    font-size: .825rem;
}
.reply-comment {
    line-height: 30px;
    padding-left: 8px;
    display: none;
    cursor: pointer;
}
.reply-like+.reply-comment {
    /*border-top: 1px solid #fff;*/
}
/* 评论输入框 */
.mui-scroll{
    position: relative;
    margin: 0 auto;
    background: #fff;
    z-index: 0;
}
.commit-form-show {
    height: 50px;
}
.commit-form{
    position:fixed;
    bottom: 0;
    left: -600px;
    display: flex;
    overflow: hidden;
    height: 50px;
    transition: height 100ms linear;
    background-color: rgb(230, 230, 230);
    width: 100%;
    z-index: 2;

}
.commit-form-show{
    height:50px;
}
.commit-form .commit-button{
    width: 60px;
    line-height: 200%;
    color:#ccc;
    background-color:whitesmoke;
    margin: 5px;
    border-radius: 6px;
    font-size: .825rem;
    overflow: hidden;
}
.commit-form .commit-input{
    flex-grow: 1;
    border: 1px solid rgb(225, 225, 225);
    margin: 5px 5px 5px 10px;
    padding: 8px;
    border-radius: 6px;
    overflow: hidden;
    font-size: .825rem;
}
.wrap-show{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.899);
    z-index: 4;
}
.pop{
    width: 70%;
    height: 100px;
    position:fixed;
    top: 50%;
    right: 0;
    z-index: 1000;
    margin: 0 15%;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b2b2b2;
    background: rgba(216,44,35,0.8);
    color: #fff;
    display: none;
}
.pop p{
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.pop .sub{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.pop span:nth-child(1){
    color: #fff;
    padding-left: 17px;
    padding-right: 30px;
    border-radius: 20px;
    margin-right: 15px;
}
.pop span{
    float: left;
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 15%;
    background: #EB6877;
    border-radius: 5px;
    margin-top: 3px;
}
.pop span:nth-child(2){
    color: #fff;
    padding-left: 17px;
    padding-right: 30px;
    border-radius: 20px;
    margin-right: 15px;
    background: #666666;
}

/***修改***/
.thumUp,.commentNes{
    position: relative;
    color:#fff;
    font-size:0.8rem;
    padding:4px 15px;
}
.thumUp{
    margin-right:5px;
}
.thumUp_1::before{
    position: absolute;
    content:"";
    background:url('../images/quer/cancel.png') no-repeat left center;
    background-size:12px;
    width:20px;
    height:20px;
    left :-1px;
    top:3px;
}
.commentNes::before{
    position: absolute;
    content:"";
    background:url('../images/quer/quer-community.png') no-repeat left center;
    background-size:12px;
    width:20px;
    height:20px;
    left :-1px;
    top:3px;
}
.reply-zone-1{
    background: rgb(240, 240, 240);
    width: 90%;
    margin:0 5%;
}
.cirshow{
    display: block;
}
.tbj,.tbjs{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:1;
    background:rgba(0,0,0,0);
    display:none;
}
