/*.payCost{*/
/*margin-top:3%;*/
/*}*/
.person{
    position:relative;
    width:100%;
    overflow: hidden;
    padding:2% 3% 4% 3%;
    background-color: #fff;
}
.person .perMess{
    float:left;
    width:70%;
}
.person .perMess .partyTime ,.partyAge{
    font-size: 14px;
    color:#666;
    margin:5px 0;
}
.person .perMess .partyAdress{
    font-weight:bold;
    font-size: 15px;
}
.person .perImg{
    text-align: center;
    float:right;
    width:30%;
}
.person .perImg img{
    width:85%;
}
.costType{
    /*margin-top:2% ;*/
    background-color: #fff;
    padding:1% 3%;
}
.costType .cate{
    text-align: right;
}
.costType .cate span{
    font-size: 14px;
    color:#666;
}
.costType .cate span.active{
    font-weight: bold;
    color:#333;
}
.payMoney{
    background-color: #fff;
    padding:0 0 5% 5%;
}
.payMoney p{
    font-size: 12px;
}
.addMoney{
    width:40%;
    border-bottom: 1px solid #f2f1ef;
}
.addMoney input{
    width:80px;
    border:0;
    outline: none;
    padding:5px;
    margin:0;
    color:#ffc000;
}
.chooseDate{
    width:100%;
    /*margin-top:2%;*/
    padding:3% 0;
    background-color: #fff;
}
.chooseDate .date{
    width:70%;
    margin:0 auto;
}
.chooseDate .date .year{
    font-size: 13px;
    color:#333;
    text-align: center;
    height:30px;
    line-height: 30px;
}
.chooseDate .date .year .left,.right{
    display: inline-block;
    width:30px;
    height:30px;
}
.left{
    background: url("../images/dang/left.png") 0 10px no-repeat;
    background-size: 20px 20px;
}
.right{
    background: url("../images/dang/right.png") 10px 10px  no-repeat;
    background-size: 20px 20px;
}
.date ul{
    overflow: hidden;
    width:100%;
}
.date ul li{
    float:left;
    width:25%;
    height:50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #eee;
    position: relative;
}
.date ul li p{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,0);
    font-size: 10px;
    margin:0;
    width:100%;
    height:13px;
    line-height: 13px;

}
.date ul li.active{
    background-color:#d52e2b ;
    color:#fff;
}
.payPartyMoney{
    width:100%;
    padding:10% 0;
    background-color: #fff;
    text-align: center;
}
.payPartyMoney button{
    width:30%;
    height:40px;
    background-color: #d52e2b;
    color:#fff;
    border-radius: 20px;
    font-size: 14px;
}
/*党委简介*/
.partyIntr .intorTit{
    position:relative;
    overflow: hidden;
    /*height:auto;*/
    background-color: #f2f1ef;
    padding:2% 5%;
    display: flex;
    align-items: center;
}
.partyIntr .studyImg{
    width:25%;
    text-align: center;
    display: flex;
    align-items: center
}
.intorTit .studyImg img{
    width:3.5rem;
    align-items: center;
}
.partyIntr .intorTit .partyTit{
    width:75%;

}
.partyIntr .intorTit .partyTit{
    line-height: 2rem;
    font-size: 1.2rem;
    color:#333;
    font-weight: bold;
    margin: 0;
}

/*支部简介*/
.partyBranchIntr .BranchintorTit{
    position:relative;
    overflow: hidden;
    background-color: #f2f1ef;
    padding:3% 5%;
    display: flex;
    align-items: center;
}
.partyBranchIntr .studyImg{
    width:30%;
    text-align: center;
    display: flex;
    align-items: center;
}
.BranchintorTit .studyImg img{
    width:5rem;
    align-items: center;
}
.BranchintorTit .partyTit{
    width:70%;
    line-height: 2rem;
    font-size: 1.1rem;
    color:#333;
    font-weight: bold;
    margin: 0;
    display: table;
}
.BranchintorTit .partyTit span{
    display: table-cell;
    vertical-align: middle;
}

/*详情*/
.partyCon{
    margin-top:15px;
    padding:3%;
}
.partyCon b{
    font-size: 15px;
}
.partyCon p{
    padding:1% 0;
    font-size: 14px;
    color:#666;

}
.partyIntro p{
    text-indent:30px
}
