.studyCon .studyTit {
    position: fixed;
    background-color: #fff;
    z-index: 100;
    top:0;
    left:0;
}
.studyTit .swiper-slide{
    height:44px;
    line-height: 44px;
    text-align: center;

}
.studyTit a{
    padding:0.2rem;
    color:#333;
}
.studyTit a.active{
    border-bottom:2px solid #ffc000;
}
.swiperStudyImg{
    margin-top:45px
}
.swiperStudyImg .swiper-slide{
    height:200px;
    overflow: hidden;
}
.swiperStudyImg img{
    width:100%;
}
.swiperNormalStudyImg .swiper-slide{
    height:200px;
    overflow: hidden;
}
.swiperNormalStudyImg img{
    width:100%;
}
/*列表*/
.subStudyList ul{
    overflow: hidden;
    position: relative;
    padding:2%;
}
/*.subStudyList>p{*/
    /*margin-top:100px;*/
    /*text-align: center;*/
/*}*/
.subStudyList ul li{
    float: left;
    margin:2%;
    width:46%;
    box-sizing: border-box;
}
.subStudyList ul li .studyName{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color:#333;
    margin:0;
    padding:0.3rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.subStudyList ul li .studyImg{
    position: relative;
    width:100%;
    height:80px;
}
.subStudyList ul li .studyImg >img{
    width:100%;
    height:100%;
}
.subStudyList ul li .studyImg span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.subStudyList ul li .studyImg span img{
    width:2.5rem;
}

.subStudyList ul li .detail{
    position: relative;
    overflow: hidden;
    height:2rem;
    line-height: 2rem;
}
.subStudyList ul li .detail .pubTime{
    float: left;
    font-size: 12px;
    color:#8f8f94 ;
}
.subStudyList ul li .detail .addCollect{
    float: right;
    font-size: 12px;
}
.subStudyList ul li .detail .addCollect img{
    width:1rem;
}