<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hisu.smart.dj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.wdliveuc.android.ActiveMeeting7" />

    <permission
        android:name="getui.permission.GetuiService.com.wdliveuc.android.ActiveMeeting7"
        android:protectionLevel="normal" >
    </permission>
    <!-- 个推SDK权限配置结束 -->


    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.activity.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.study.activity.StudyPlanActivity" />
        <activity android:name=".ui.study.activity.StudyTopicActivity" />
        <activity android:name=".ui.login.activity.LoginActivity"></activity>
        <activity android:name=".ui.study.activity.LearningRankingActivity" />
        <activity android:name=".ui.my.activity.ForgotPasswordActivity" />
        <activity android:name=".ui.my.activity.ResetPasswordActivity" />
        <activity android:name=".ui.my.activity.UpdatePassWordActivity" />
        <activity android:name=".ui.my.activity.MyInfoActivity" />
        <activity android:name=".ui.my.activity.AboutActivity" />
        <activity android:name=".ui.study.activity.StudyExperienceActivity" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.study.activity.StudyCommonActivity" />
        <activity android:name=".ui.web.activity.WebActivity" />
        <activity android:name=".ui.news.activity.NewsActivity" />
        <activity android:name=".ui.my.activity.SettingActivity" />
        <activity
            android:name=".ui.main.activity.WelcomeActivity"
            android:theme="@style/NoTitleFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.news.activity.PartyNewsActivity"></activity>

        <!--网动视频会议-->
        <activity android:name=".ui.iactive.activity.IactiveLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.wdliveuc.android.ActiveMeeting7.ActiveMeeting7Activity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/imm_app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/imm_Theme.ActiveMeeting7"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.wdliveuc.android.ActiveMeeting7.Login1Activity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.wdliveuc.android.ActiveMeeting7.InviteActivityInput"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Panel"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wdliveuc.android.ActiveMeeting7.CallPhoneActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Panel"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>